.answer{
    
    position: relative;
    width:99%;
    

}

.answerDesc{
    color:green;
    background-color:white;
    border-radius: 25px;
    height:25px;
    padding-top: 3px;
}

.contenu{
    height: 100%;
    position: relative;
    float: left;
    width: 100%;
}