.App {
  text-align: center;
  height: 1024px;
  width: 758px;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeout
{
 
    0%   {opacity:100%;}
    
    100% {opacity: 0%; display: none;}
  
}


@keyframes fadeoutPTT
{
 
    0%   {opacity:100%;bottom:0}
    
    100% {opacity: 0%; bottom: 0;}
  
}

.reponse{
  position: absolute;
  bottom: 0;
  width:99%;
  background-color:#F6F6F6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  transition: height 2s;
}
.detectedPhrase{
 
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 25px;
  transition: font-size 2s;
 
}