.qFaq{
    
    width:fit-content;
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 4px;
    list-style: inside;
    font-size: 17px;
    margin-top: 15px;
}